pandas
requests
beautifulsoup4
google-api-python-client
gspread
gspread_dataframe
google-cloud-storage
google-cloud-bigquery
openpyxl
tqdm
papermill
gcsfs
jupyterlab
python-dotenv==1.0.1
openai>=1.55.0
